﻿@model LoginViewModel
<header>
    <link href=@Url.Content("~/styles/Login.css") rel="stylesheet" type="text/css"/>
</header>
<form asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" value="ReturnUrl"/>
    <div class="header">Login
    </div>
    <div class="block">
        <label>Username</label>
        <input asp-for="Email" class="input" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="block">
        <label>Password</label>
        <input asp-for="Password" class="input" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="block">
        <button type="submit" class="button">Sign in</button>
    </div>
        <a asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">
            Регистрация
        </a>
</form>