﻿@model RegisterViewModel
<head>
    <link href=@Url.Content("~/styles/Login.css") rel="stylesheet" type="text/css" />
</head>
<form asp-action="Register" asp-controller="Auth" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="header">
        Регистрация
    </div>
    <div class="block">
        <label>Почтовый адрес</label>
        <input asp-for="Email" class="input">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="block">
        <label>Фамилия</label>
        <input asp-for="LastName" class="input">
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="block">
        <label>Имя</label>
        <input asp-for="Username" class="input">
        <span asp-validation-for="Username"></span>
    </div>
    <div class="block">
        <label>Пароль</label>
        <input asp-for="Password" class="input">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="block">
        <label>Подтверждение пароля</label>
        <input asp-for="ConfirmPassword" class="input">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="block">
        <button type="submit">Регистрация</button>
        <a asp-action="Login" asp-controller="Auth" asp-route-returnUrl="@Model.ReturnUrl" class="switch-button"></a>
    </div>
</form>